{% extends 'rango/log_base.html' %}
{% block title_block %}
Login
{% endblock %}
{% block body_block %}
<div class="box">
<h1>Rango say...</h1>
<h2>Login</h2>
<form method="post" action=".">
{% csrf_token %}
<p id="p">Name</p>
<div class="inputBox">
    <input type="text" name="username" required="required" >
</div>
<p id="p">Password</p>
<div class="inputBox">
        <input type="password" name="password" required="required">
</div>

<input type="submit" value="Log In" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
<p>
Not a member?
<a href="{% url 'registration_register' %}">Register here!</a>
</p>

<p>
Forgot password?
<a href="{% url 'auth_password_reset' %}">Reset here!</a>    
</p>
{% endblock %}