{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Restricted Page
{% endblock %}

{% block body_block %}
<body>		
    <div>
            <h2 style="text-align:center">About Rango</h2>
        <p><strong>Rango</strong> was founded in 2021 with a vision to motivate and inspire avid amatuerish programmers for web languages knowledge sharing and exploring. We're a digital platform that brings hands-on experience and theoretical techniques together to foster skills and collaboration. We're free to use, open to everybody, and built on transparency.</p>
        <p>Rango hosts reviews to help visitors learn on their own with confidence, and deliver rich insights to help improve the experiences they pursue for. The more hobbyists use our platform and share their own opinions, the richer the technology-related insights we offer, and the more opportunities they have to earn the precious advice and feedback from the counterparts all around the world.
        </p>
    </div>
            
</body>
{% endblock %}