
{% extends 'rango/base.html' %}
{% load staticfiles %}


{% block title_block %}
    About Us
{% endblock %}


{% block body_block %}
<body>		
			<div>
					
					<h2 style="text-align:center">Who We Are</h2>
					<div>
						<article class="column3">
							<div class="img">
								<img id="profile-pic" src="{% static "images/grace.jpg" %}" alt="" width="150" height="150" />
							</div>
							<div class="team-text">
								<h4>Grace</h4>
								<p>Quisque vulputate facilisis quam, a fringilla purus varius at. Aliquam ut sodales quam, imperdiet condimentum elit. Fusce ac pharetra augue. </p>
								<div class="spec">Web-Designer</div>
								
							</div>
						</article>
						<article class="column4">
							<div class="img">
								<img id="profile-pic" src="{% static "images/kaori.jpg" %}" alt="" width="150" height="150" />
							</div>
							<div class="team-text">
								<h4>Kaori</h4>
								<p>Quisque vulputate facilisis quam, a fringilla purus varius at. Aliquam ut sodales quam, imperdiet condimentum elit. Fusce ac pharetra augue. </p>
								<div class="spec">Front-end Developer</div>
							
							</div>
						</article>
						<article class="column5">
							<div class="img">
								<img id="profile-pic" src="{% static "images/su.jpg" %}" alt="" width="150" height="150" />
							</div>
							<div class="team-text">
								<h4>Su</h4>
								<p>Quisque vulputate facilisis quam, a fringilla purus varius at. Aliquam ut sodales quam, imperdiet condimentum elit. Fusce ac pharetra augue. </p>
								<div class="spec">Back-end Developer</div>
							
							</div>
						</article>
                        <article class="column6">
							<div class="img">
								<img id="profile-pic" src="{% static "images/yue.jpg" %}" alt="" width="150" height="150" />
							</div>
							<div class="team-text">
								<h4>Yue</h4>
								<p>Quisque vulputate facilisis quam, a fringilla purus varius at. Aliquam ut sodales quam, imperdiet condimentum elit. Fusce ac pharetra augue. </p>
								<div class="spec">Web-Designer</div>
								
							</div>
						</article>
					</div>
			</div>
    <!--================End Banner Area =================-->
   
                <div>
                    
                    <h3 class="single_title">Contact Us</h3>
                    <div class="row">
                        <form class="contact_us_form" action="php/contact.php" method="post" id="phpcontactform">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group col-md-12">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                            </div>
                            <div class="form-group col-md-12">
                                <textarea class="form-control" id="message" name="message" placeholder="Message" rows="1"></textarea>
                            </div>
                            <div class="form-group col-md-12 button_area">
                                <button type="submit" value="submit your quote" class="btn submit_blue form-control" id="js-contact-btn">Send message <i class="fa fa-angle-right"></i></button>
                                <div id="js-contact-result" data-success-msg="Success, We will get back to you soon" data-error-msg="Oops! Something went wrong"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <h3 class="single_title">Contact Details</h3>
                    <div class="contact_details_inner">
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="media-body">
                                <p>Glasgow, G12 8QQ, Scotland </p>
                    
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="media-body">
                                <a href="#">cats@student.gla.ac.uk</a><br>
            
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="media-body">
                                <a href="#">+ 1800 562 2487</a><br>
                                <a href="#">+ 3215 546 8975</a>
                            </div>
                        </div>
                    </div>
                </div>
            
    <!--================End Banner Area =================-->

</body>
{% endblock %}
















